<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PrinterName" value="Gprinter GP-2120T"/> <!--EPSON LW-600P(Bluetooth)-->
    <add key="HubUrl" value="https://silpo.azurewebsites.net/"/>
    <add key="PrinterID" value="Printer1"/>
  </appSettings>
</configuration>